<% content_for :heading do %>
Create New User
<% end %>

<% content_for :form do %>

<% end %>

<form id="new_user" action= <%= users_url %> method="post">
  <table>
    <tr>
      <td><label for="email">User's Email: </label></td>
      <td><input type="string" name="user[email]" id="email"></td>
    </tr>
    <tr>
      <td><label for="password">Password: </label></td>
      <td><input type="password" name="user[password]" id="password"></td>
    </tr>
    <tr>
      <td><label for="confirm_password">Confirm Password: </label></td>
      <td><input type="password" name="confirm_password" id="confirm_password"></td>
    </tr>
  </table>

  <input type="hidden" name="user[session_token]" value="<%= @user.ensure_session_token %>">

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <input type="submit" value="Create User">
</form>

<% if flash[:errors] %>
  <p style="color:red">
    <% flash[:errors].each do |error| %>
      <%= error %><br>
    <% end %>
  </p>
<% end %>
