<% content_for :heading do %>
Details for <%= @album.name %>
<% end %>

<%= render "layouts/album", album: @album %>

<h3>Tracks on Album</h3>

<% @album.tracks.each do |track| %>
  <%= render "layouts/track", track: track %>
<% end %>
