<% content_for :heading do %>
Details for <%= @band.name %>
<% end %>

<%= render "layouts/band", band: @band %>

<h3>Albums</h3>

<% @band.albums.each do |album| %>
<%= render "layouts/album", album: album %>
<% end %>
