<% content_for :heading do %>
Login
<% end %>

<form id="new_session" action= <%= session_url %> method="post">

<table>
<tr>
  <td><label for="email">Login Email: </label></td>
  <td><input type="string" name="session[email]" id="email"></td>
</tr>

<tr>
  <td><label for="password">Password: </label></td>
  <td><input type="password" name="session[password]" id="password"></td>
</tr>
</table>


<input type="hidden" name="session[session_token]" value="<%= @user.ensure_session_token unless @user.nil?%>">
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
<input type="submit" value="Submit">

</form>

<% if flash[:errors] %>
<p style="color:red">
  <% flash[:errors].each do |error| %>
  <%= error %><br>
  <% end %>
</p>
<% end %>
