<h1>Log In User</h1>

<form id="create_session" action="<%= session_url %>" method="post">

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label for="username">Username: </label>
  <input type="string" name="session[username]" id: 'username'><br>

  <label for="password">Password: </label>
  <input type="password" name="session[password]" id: 'password'> <br>

  <input type="submit" value="login">
</form>
