<div class='list-header'>
  <h4 id="<%= list.id %>"><%= list.escape('title') %></h2>
  <button class="delete-list">X</button>
</div>

<ul class='cards' data-list-id="<%= list.id %>">

</ul>

<a href='#' class="create-card">Add a card</a>

<div class='card-form'>

</div>
