<h1>Sign In</h1>

<form id="User" action= <%= session_url%> method="post">

  <label>Username
    <input type="text" name="user[username]">
  </label>

  <label>Password
    <input type="password" name="user[password]">
  </label>

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <input type="submit" value= "Sign In">
</form>
