<form class='card-create'>
  <input type="text" name="card[title]" placeholder='title'>
  <br>
  <textarea name="card[description]"  placeholder='description'></textarea>

  <input type="hidden" name="card[list_id]" value="<%= list.id %>">
  <br>
  <button>Create card</button>
</form>
