<h1>Boards</h1>

<ul class="board-lists">

</ul>

<form class='board-create'>
  <label>Make a new board:
    <input type="text" name="board[title]" value="">
  </label><br>

  <button>Create Board</button>
</form>
