<%= render "shared/templates" %>

<div id='pokedex'>
  <div class='pokemon-index'>
    <div class='pokemon-form'></div>
    <ul class='pokemon-list'></ul>
  </div

  ><div class='pokemon-detail'>
	</div

  ><div class='toy-detail'>
  </div>

</div>
