

<form id="" action="<%= url %>" method="post">
  <input type="hidden" name="id" value="<%= obj.id %>">
  <input type="hidden" name="type" value="<%= obj.class %>">
  <label for="">Reply
    <input type="text" name="comment[body]" value="">
  </label>

  <input type="submit"  value="Create comment">
</form>
